.accountHome-container
{
    flex:1;
}

.accountHome
{
    width:95%;
    margin: auto;
    margin-top: 40px;
}

.accountHome-content
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 40px;
}

.accountHome-content-leftBlock
{
    width:45%;
    display: flex;
    flex-direction: column;
}

.accountHome-content-leftBlock-infos
{
    width:100%;
    height:400px;
    background-color:#D9D9D9; 
    border-radius:4px;
    padding:0px 20px;
    padding-bottom: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.accountHome-content-leftBlock-infos-biographyContainer
{
    max-height: 200px;
    overflow-y: auto ;
    line-height: 20px;
}


.accountHome-content-leftBlock-stats
{
    width:100%;
    height:250px;
    background-color:#D9D9D9; 
    border-radius:4px;
    margin-top:30px;
    padding:0px 20px;
    padding-bottom: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}

.accountHome-content-rightBlock
{
    width:50%;
    height:680px;
    background-color: #D9D9D9;
    padding:0px 20px;
    padding-bottom: 20px;
    display:flex;
    flex-direction: column;
    justify-content: start;
}

.accountHome-content-rightBlock-activityContainer
{
    max-height: 200px;
    overflow-y: auto ;
    margin-top:30px;
    
}

@media (min-width: 600px) and (max-width: 1024px) {
    .accountHome-content
    {
        flex-direction: column;
        justify-content: end;
        gap: 30px;
    }
    .accountHome-content-leftBlock
    {
        width:100%;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap:10px;
    }

    .accountHome-content-leftBlock-infos, .accountHome-content-leftBlock-stats
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    .accountHome-content-rightBlock
    {
        width:100%;

    }
}

    @media  (max-width: 600px) {
        .accountHome-content-leftBlock
        {
            width:100%;
            flex-direction: column;
   
        }
        .accountHome-content-leftBlock-infos
        {
            padding-left: 10px;
            padding-right: 10px;
            height: 350px;
        }
        .accountHome-content-leftBlock-stats
        {
            height: 250px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .accountHome-content
        {
            flex-direction: column;
            justify-content: end;
            gap: 20px;
        }
        .accountHome-content-rightBlock
        {
            padding-left: 10px;
            padding-right: 10px;
            width:100%;
    
        }
    
}