.bannerGameList
{
    background-image: url("../../assets/images/banner4.avif");
}

.availableGames-displaySelection
{
    display: flex;
    justify-content: center;
    margin-top: 2.78vw;
}

.availableGames-list 
{
    overflow-x: auto;
    width: 100%;
    margin-top: 2.78vw;
}

.availableGames-list-table
{
    width:100%;
}

.availableGames-list-table thead
{
    position:sticky;
    top: 0;
}

.availableGames-list-table-organizerName
{
    color:black;
    font-weight: bold;
}

@media  (max-width: 900px) 
{
    .availableGames-displaySelection
    {
        margin-top: 23px;
    }
    .availableGames-list 
    {
        margin-top: 23px;
    }
    .availableGames-newGameForm
    {
        gap: 20px;
        margin-top: 23px;
    }
}



