.bannerGameList
{
    background-image: url("../../assets/images/banner4.jpg");
}

.availableGames-displaySelection
{
    display: flex;
    justify-content: center;
    margin-top: 2.78vw;
}
.availableGames-list 
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap:wrap;
    width: 100%;
    height: 400px;
    overflow-y: auto;
    margin-top: 2.78vw;
}
.availableGames-list-table
{
    width:100%;
}

.availableGames-list-table thead
{
    position:sticky;
    top: 0;
}

.availableGames-list-table-organizerName
{
    color:black;
    font-weight: bold;
}


.availableGames-newGameForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.08vw;
    margin-top: 2.78vw;
}

.availableGames-newGameForm p 
{
    font-size: 32px;
}

.availableGames-newGameForm button
{
    width:150px;
}

.availableGames-newGameForm label, .availableGames-newGameForm select, .availableGames-newGameForm input
{
    font-size: 20px;
   
}
.availableGames-newGameForm label
{
    font-weight: bold;
}
.availableGames-newGameForm select
{
    order: solid 1px #36444A;
    background-color: white;
    border: solid 1px #36444A;
    color:black;
}
.availableGames-newGameForm input
{
    border: solid 1px #36444A;
}

@media  (max-width: 900px) 
{
    .availableGames-displaySelection
    {
        margin-top: 23px;
    }
    .availableGames-list 
    {
        margin-top: 23px;
    }
    .availableGames-newGameForm
    {
        gap: 20px;
        margin-top: 23px;
    }
}



