.bannerTopics 
{
    background-image: url("../../assets/images/banner5.jpg");
}

.topics-list
{
    max-height: 600px;
    width:100%;
    overflow-y: auto;
    margin-top: 2.78vw;
}

.topics-list-table thead
{
    position:sticky;
    top: 0;
}

.topic-list-table-title
{
    width:100%;
    font-weight: bold;
}


@media  (max-width: 900px) {

    .topics-list
    {
        margin-top: 23px;
    }
}

@media (max-width: 600px) {

    .topics
    {
        width:100vw;
    }
}
