.bannerComments
{
    background-image: url("../../assets/images/banner6.avif");
}

.comments-list
{
    max-height: 600px;
    overflow-y: auto;
    width:100%;
    margin-top: 2.78vw;
}

.comments-list-table
{
    width:100%;
}

.comments-list-table thead
{
    position:sticky;
    top: 0;
}

.comments-list-table-username
{
    font-weight: bold;
}

@media  (max-width: 900px) {

    .comments-list
    {
        margin-top: 23px;
    }
}

@media (max-width: 600px) {

    .comments-table{
    width:100vw;
    }
}

@media (max-width: 600px) {

    .comments
    {
        width:100vw;
    }
}
