.header
{
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index:1000;
}

.header li
{
  color: white;
}
.header li:hover
{
  color: #c98f62;
}

.header-nav1-menu, .header-nav2-login
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-nav1-menu li, .header-nav2-login li
{
  margin: 15px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.header-nav1-menu a, .header-nav2-login a
{
  color: white;
}

.header-nav1
{
  display: flex;
  flex-direction: row;
}

.header-nav1-menu-link:hover, .header-nav2-login-link:hover, .icons:hover, .btn-login:hover
{
  color:#c98f62;
}

.header-nav2
{
  display: flex;
  flex-direction: row;
}


.burger-icon {
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
}

.burger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
}

.burger-icon span:nth-child(1) {
  top: 0;
}

.burger-icon span:nth-child(2) {
  top: 10px;
}

.burger-icon span:nth-child(3) {
  top: 20px;
}

.burger-icon.open span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
  transition: top 0.4s ease, transform 0.4s ease 0.4s, opacity 0.4s ease; 
}

.burger-icon.open span:nth-child(2) {
  opacity: 0;
  transition: top 0.4s ease, transform 0.4s ease 0.4s, opacity 0.4s ease; 
}

.burger-icon.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-45deg) ;
  transition: top 0.4s ease, transform 0.4s ease 0.4s, opacity 0.4s ease;
}

.burger-icon:not(.open) span:nth-child(1) {
  transform: rotate(0); 
  top: 0;
  transition: transform 0.4s ease, top 0.4s ease 0.4s; 
}

.burger-icon:not(.open) span:nth-child(2) {
  opacity: 1; 
  transition: opacity 0.5s ease; 
}

.burger-icon:not(.open) span:nth-child(3) {
  transform: rotate(0);
  top: 20px; 
  transition: transform 0.4s ease, top 0.4s ease 0.4s;
}

.header-nav2-icons {
  display: none;
}

@media (min-width: 800px) and (max-width: 1024px) {
  
  .header
  {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-nav1 li, .header-nav2 li
  {
    font-size: 18px;
    margin: 7px;
  }
}

@media (max-width: 800px) {

  .header-nav1-menu, .header-nav2-login {
    display: none;
  }

  .burger-icon {
    display: block;
  }

   .header-nav1-menu.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    transition: left 0.8s;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 20px 0;
    z-index: 0999;
  }

  .header-nav1-menu:not(.open) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    transition: left 0.8s;
    left: -100vw;
    width: 100%;
    background-color: black;
    padding: 20px 0;
    z-index: 0999;
  }

  .header-nav1-menu.open li {
    text-align: center;
    font-size: 18px;
  }
  .header-nav2-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
  }

  .header-nav2-icons .icon {
    display: block; 
    color: white;
    margin-left: 20px;
    font-size: 24px;
  }
  .header-nav2-icons .icon:hover
  {
    color:#c98f62;
  }
  .burger-icon:hover span
  {
    background-color:#c98f62;
  }
}
