.bannerHome 
{
    background-image: url("../../assets/images/banner1.jpg");
}

.logo-container
{
    position:absolute;
    width:30vw;
    height:30vw;
    margin-right:1.04vw;
    margin-top:3.3vw;
}

.logo-img
{
    width:100%;
    position: relative;
}

.introShogi-content, .introGame-content, .introCommunity-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 2.78vw;
}

.introShogi-content-description, .introGame-content-description, .introCommunity-content-description
{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.08vw;;
}

.introShogi-content-imageContainer, .introGame-content-imageContainer, .introCommunity-content-imageContainer
{
    width: 450px;
}

.illustration
{
    width: 100%;
    border-radius: 5px;
}

.introCommunity-messages
{
    max-height: 660px;
    overflow-y: auto;
    margin:auto;
    margin-top: 2.78vw;
}

.introCommunity-messages-table
{
    width:100%;
}

.introCommunity-messages-table thead
{
    position: sticky;
    top:0px;
}

.introGame-gamers
{
    max-height: 660px;
    width:450px;
    margin:auto;
    overflow-y: auto;
    margin-top: 2.78vw;
}

.introGame-gamers-table
{
    width: 100%;
}

.introGame-gamers-table thead
{
    position: sticky;
    top: 0px;
}

.button-link
{
    color: white;
}


@media (min-width: 600px) and (max-width: 1024px) {

    .introShogi-content-imageContainer, .introGame-content-imageContainer, .introCommunity-content-imageContainer
    {
        width: 400px;
    }
    .illustration
    {
        border-radius: 3px;
    }
    .introShogi-content-description, .introGame-content-description, .introCommunity-content-description
    {
        width: 400px;
    }

    .introCommunity-messages
    {
        width: 100%;
    }

    .introGame-gamers
    {
        width:400px;
    }
}

@media  (max-width: 900px) {

    .introShogi-content , .introGame-content, .introCommunity-content
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
        margin-top: 23px;
    }
    .introShogi-content-description, .introGame-content-description, .introCommunity-content-description
    {
        width: 100%;
        gap: 15px;
    }

    .introCommunity-messages
    {
        margin-top: 23px;
    }

    .introGame-gamers
    {
        margin-top: 23px;
    }
}

@media  (max-width: 600px) {

    .introShogi-content-imageContainer, .introGame-content-imageContainer, .introCommunity-content-imageContainer
    {
        width: 350px;
    }

    .illustration
    {
        border-radius: 1px;
    }

    .introGame-gamers, .introCommunity-messages
    {
        width: 350px;
    }
}

@media  (max-width: 400px) {

    .introShogi-content-imageContainer, .introGame-content-imageContainer, .introCommunity-content-imageContainer
    {
        width: 100%;
    }

    .illustration
    {
        border-radius: 0px;
    }

    .introGame-gamers, .introCommunity-messages
    {
        width: 100%;
    }

}


