.footer
{
  height: 120px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  position: relative;
  margin-top: 60px;
}

.footer-nav ul
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-nav ul li
{
  margin-left: 25px;
  margin-right: 25px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

.footer-copyright
{
  font-size: 18px;
  font-weight: bold;
  color: white;
}

@media (min-width: 800px) and (max-width: 1024px) {

  .footer-nav ul li
  {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
  }
  
  .footer-copyright
  {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
}

@media (max-width: 800px) {

  .footer
  {
    gap:10px;
  }

  .footer-nav ul li
  {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
  }
  
  .footer-copyright
  {
    font-size: 14px;
  }
  .footer-nav ul
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap:15px;
  }
}