.bannerCategories 
{
    background-image: url("../assets/images/banner4.jpg");
}

.categories-list
{
    width: 100%;
    margin-top: 2.78vw;
}

.categories-list-table
{
    width: 100%;
}

.categories-list-table thead
{
    position:sticky;
    top: 0;
}

.categories-list-table-title
{
    font-weight: bold;
}

@media  (max-width: 900px) {

    .categories-list
    {
        margin-top: 23px;
    }
}
