.header
{
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index:1000;
}

.header-nav1-menu, .header-nav2-login
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-nav1-menu li, .header-nav2-login li
{
  margin: 15px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.header-nav1
{
  display: flex;
  flex-direction: row;
}
.header-nav2
{
  display: flex;
  flex-direction: row;
}

.header-nav2-login
{
  transform: translate(20px, 0); 
}

.burger-icon {
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
}

.burger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
}

.burger-icon span:nth-child(1) {
  top: 0;
}

.burger-icon span:nth-child(2) {
  top: 10px;
}

.burger-icon span:nth-child(3) {
  top: 20px;
}

@media (min-width: 800px) and (max-width: 1024px) {
  
  .header
  {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-nav1 li, .header-nav2 li
  {
    font-size: 18px;
    margin: 7px;
  }
}

@media (max-width: 800px) {

  .header-nav1-menu, .header-nav2-login {
    display: none;
  }

  .burger-icon {
    display: block;
  }

   .header-nav1-menu.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    transition: left 0.8s;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 20px 0;
    z-index: 0999;
  }

  .header-nav1-menu:not(.open) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    transition: left 0.8s;
    left: -100vw;
    width: 100%;
    background-color: black;
    padding: 20px 0;
    z-index: 0999;
  }

  .header-nav1-menu.open li {
    text-align: center;
    font-size: 18px;
  }
  .header-nav2-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
  }

  .header-nav2-icons .icon {
    display: block; 
    color: white;
    margin-left: 20px;
    font-size: 24px;
  }

}
