.bannerHome 
{
    background-image: url("../assets/images/banner1.jpg");
}

.logo-container
{
    position:absolute;
    width:30vw;
    height:30vw;
    margin-right:15px;
}

.logo-img
{
    width:100%;
    position: relative;
}

.introShogi-content, .introGame-content, .introCommunity-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

.introShogi-content-description, .introGame-content-description, .introCommunity-content-description
{
    width:450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4vw;
}

.illustration
{
    width: 450px;
    border-radius:5px;
}

.introCommunity-table
{
    width:81vw;
}

.introGame-table
{
    width:600px;
    margin-bottom: 9vh;
}

table
{
    margin:auto;
    font-size: 20px;
    border-collapse: collapse;
}
thead
{
    background-color: #C9C9C9;
    color: #36444A;
    text-align: left;
    height: 50px;
}
th, td
{
    padding-left:20px;
    padding-right: 20px;
}
td
{
    height: 100px;
    border-bottom: 1px solid black;
}

@media (min-width: 600px) and (max-width: 1024px) {

    .illustration
    {
        width: 400px;
        border-radius: 3px;
    }
    table
    {
        font-size: 18px;
    };
    th, td
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .introCommunity-table
    {
        width: 90vw;
    }
    .introGame-table
    {
        width: 600px;
    }
    .introShogi-content-description, .introGame-content-description, .introCommunity-content-description
    {
        width: 400px;
        gap: 4vw;
    }
}

@media  (max-width: 800px) {

    .introShogi-content , .introGame-content, .introCommunity-content
    {
        gap:6vw;
    }
}

@media  (max-width: 600px) {

    .illustration
    {
        width: 400px;
        border-radius: 1px;
    }
    table
    {
        font-size: 16px;
    }
    th, td
    {
        padding-left: 5px;
        padding-right: 5px;
    }


    .introGame-table, .introCommunity-table
    {
        width: 100vw;
        margin-bottom: 5vh;
    }
}

@media  (max-width: 500px) {
    .introShogi-content-description , .introGame-content-description, .introCommunity-content-description
    {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media  (max-width: 400px) {
    .illustration
    {
        width: 100vw;
        border-radius: 0px;
    }
}


