.modal-overlay
{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; 
    align-items: center; 
    justify-content: center;
    z-index: 1000; 
}

.modal
{
    background-color: white; 
    width: 400px;
    padding: 20px; 
    border-radius: 8px; 
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.modal-content
{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 2.08vw;
    margin-top: 2.78vw;
}


.modal-content p 
{
    font-size: 32px;
}

.modal-content button
{
    width:150px;
}

.modal-content label, .modal-content select, .modal-content input
{
    font-size: 20px;
   
}
.modal-content label
{
    font-weight: bold;
}
.modal-content select
{
    order: solid 1px #36444A;
    background-color: white;
    border: solid 1px #36444A;
    color:black;
}
.modal-content input
{
    border: solid 1px #36444A;
}
  
.modal button 
{
    margin: 10px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 50px; 
    cursor: pointer; 
}