/* Style de base pour la sidebar (visible par défaut sur grand écran) */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: black;
  padding: 20px;
  position: relative;
  transition: all 0.1s ease-in-out;
  position:fixed;
}


.principal{
  display:flex;
  flex-direction: row;
  justify-content: start;
}
.container-fake
{
    width: 250px;
    height: 100vh;
}

.burger-menu {
  display: none;
}

.sidebar-welcome {
  color: #FFF;
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
}
  
.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 10px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
}
.sidebar-menu-link:hover
 {
  color: #A0785A;

}
@media (max-width: 800px) {
  .sidebar {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%); 
      z-index: 999;
  }

    .container-fake
    {
       display:none;
    }

  

  .sidebar.open {
      transform: translateX(0); 
  }

  .burger-menu {
      display: block; 
      position: fixed;
      top: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
      background-color: white;
      cursor: pointer;
      z-index: 1000;
      transition: all 0.1s ease;
  }

  .burger-menu.open div:nth-child(1) {
      transform: translate(0px, 7px) rotate(45deg) ;
  }

  .burger-menu.open div:nth-child(2) {
      opacity: 0; 
  }

  .burger-menu.open div:nth-child(3) {
      transform: translate(0px, -11px) rotate(-45deg) ;
  }


  .burger-menu.open {
      left: auto;
      right: 10px;
      background-color: black;
      transition: all 0.1s ease;
  }

  .burger-menu div {
      width: 100%;
      height: 4px;
      background-color: black;
      margin: 5px 0; 
      transform-origin: center; 
      transition: all 0.1s ease;
  }

  .burger-menu.open div {

    background-color: white;
    color: #A0785A
}
.burger-menu.open:hover div {

  background-color:  #A0785A;
}
}
  