*
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
 }

.main-content
{
    width:85%;
    max-width: 1200px;
    margin: auto;
}

.main-content-title
{
    width:100%;
}

h1
{
    font-size: 40px;
    margin-top:5.56vw;
    font-family:'merryweather',sans-serif;
    color: black;
}

h2
{
    text-align: center;
    margin-top: 2.78vw;
    font-size: 32px;
    font-family:'lora',sans-serif;
    color: #36444A;
}

p
{
    font-size: 20px;
    text-align: justify;
    font-family: "source sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:black;

}

li
{
    font-family: "source sans 3", sans-serif;
}

table
{
    margin:auto;
    font-size: 20px;
    border-collapse: collapse;
}
thead
{
    background-color: #D9D9D9;
    color: black;
    text-align: left;
}
th, td
{
    vertical-align: top;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 1.04vw;
    padding-bottom: 1.04vw;
    font-family: "source sans 3", sans-serif;

}
td
{
    border-bottom: 1px solid #36444A;
}

.banner
{
    height: 30vw;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 100px;
}

.button
{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #A0785A;
    border-radius: 50px;
    padding:10px 20px;
}

.button p
{
    color:white;
    font-family: "source sans 3", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.button:hover
{
    background-color: #c98f62;
}

button
{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #A0785A;
    border:none;
    border-radius: 50px;
    padding:10px 20px;
    color:white;
    font-size: 18px;
    font-weight: bold;
    font-family: "source sans 3", sans-serif;
}

button:hover
{
    background-color: #c98f62;
}

select
{
  padding:5px;
  color:white;
  background-color: #A0785A;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
}


@media (min-width: 600px) and (max-width: 1100px) {
    .main-content 
    {
      width: 90%;
    }

    h1 
    {
        font-size: 32px;
    }
    h2 
    {
        font-size: 28px;
        margin-top: 25px;
    }
    p
    {
        font-size: 18px;
    }
    table
    {
        font-size: 18px;
    };
    th, td
    {
        padding-left: 10px;
        padding-right: 10px;
    }

    .button
    {
        padding:5px 10px;
    }
    .button p
    {
        font-size: 16px;
    }
    button
    {
        padding:5px 10px;
        font-size: 16px;
    }
}

@media  (max-width: 600px) {
    .main-content 
    {
        width: 100%; 
    }

    h1 
    {
        font-size: 24px;
        padding-left: 10px;
    }
    h2 
    {
        font-size: 22px;
    }
    p
    {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }
    table
    {
        font-size: 16px;
    }
    th, td
    {
        padding-left: 5px;
        padding-right: 5px;
    }

    .button
    {
        padding:5px 10px;
    }
    .button p
    {
        font-size: 14px;
    }
    button
    {
        padding:5px 10px;
        font-size: 14px;
    }
}



